body{
    margin: 0;
    padding: 0;
   

}

header{
width: 1440;
height: 70;
padding-top: 16px;
padding-right: 156px;
padding-bottom: 16px;
padding-left: 90px;
gap: 10px;
background: #02A28F;
font-size: 25px;
color: #FFFFFF;
font-family: "Montserrat", sans-serif;

}

#imagembanner{
    width: 800px; 
    height: 396px ;
    margin-top: 20px;
    margin-left: 55px;
    border-radius: 10px;
    
}

#oneSection{
    width: 360px;
    height: 48px;
    background: #02A28F;
    margin-top: 120px;
    margin-left: 925px;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 24px;
    
}

#titlesectionum{
    height: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700px;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 100%;
    color: #FFFFFF;
}



#divImagens{
    width: 136px;
    height: 100px;
    border-radius: 10px;
}

.titleCards{
height: 15px;
margin-top: 10px;
margin-left: 100px;
font-size: 20px;
font-family: "Montserrat", sans-serif;
font: weight 700px;
line-height: 100%;

}

.paragrafoCards{
    font-family: "Montserrat", sans-serif;
    font-weight: 700px;
    font-size: 10px;
    line-height: 100%;
    margin-left: 100px;
}

#sectionCards{
    width: 1000px;
    height: 883px;
    margin-bottom: 150px;
    margin-left: 55px;
    
}